.teamGrid > img {
  height: 4.5em;
  height: 5em;
  justify-self: center;
  alignment: center;
}

.teamGrid {
  display: grid;
  align-items: center;
  grid-template-columns: 20em 20em;
  grid-gap: 1em;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../anno-logo-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 18em;
  height: 18em;
}

.flex-item {
  width: 15rem;
  height: 15rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.flex-item img {
  display: inline;
  max-width: 100%;
  max-height: 80%;
  margin: auto;
}

.flexy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

table.design tbody tr td:has(> img) {
  align: center;
  margin: 1em;
}

table.design tbody tr td img {
  width: 14em;
}
